<div class='right'>
  <div class="czjl_top"></div>
    <div class="tongtit">
      <div class="xshi">抽奖记录</div>
    </div>

      <div class="contents">
         <div class="czjl">
            <div class="czjltitle">日期/时间 </div>
            <div class="czjltitle">奖品</div>
            <div class="czjltitle">状态</div>
         </div>
         <% @records.each do |re| %>
         <div class="czjl">
            <div class="czjltitle"><%= re.actived_at.try(:strftime, "%Y/%m/%d/ %H:%M") %></div>
            <div class="czjltitle"><%= re.prize_text %></div>
            <div class="czjltitle"><%= re.is_used ? "已使用" : "未使用" %></div>
         </div>
         <% end %>
         <%= will_paginate @records %>
      </div>
</div>