<style>
*{ margin:0; padding:0;}
img{ border:none;}
.comndiv{ width:100%; height:240px; margin:0 auto; text-align:center;}
.d1{ background:url(/campaigns/20160115/i_01.jpg) no-repeat center;}
.d2{ background:url(/campaigns/20160115/i_02.jpg) no-repeat center;}
.d3{ background:url(/campaigns/20160115/i_03.jpg) no-repeat center;}
.d4{ background:url(/campaigns/20160115/i_04.jpg) no-repeat center;}
.d5{ background:url(/campaigns/20160115/i_05.jpg) no-repeat center;}
.d6{ background:url(/campaigns/20160115/i_06.jpg) no-repeat center;}
.d7{ background:url(/campaigns/20160115/i_07.jpg) no-repeat center;}
.d8{ background:url(/campaigns/20160115/i_08.jpg) no-repeat center;}
.d9{ background:url(/campaigns/20160115/i_09.jpg) no-repeat center;}
.d10{ background:url(/campaigns/20160115/i_10.jpg) no-repeat center;}
.d11{ background:url(/campaigns/20160115/i_11.jpg) no-repeat center;}
.d12{ background:url(/campaigns/20160115/i_12.jpg) no-repeat center;width:100%; height:481px; }
.d13{ background:url(/campaigns/20160115/i_13.jpg) no-repeat center;}
.d14{ background:url(/campaigns/20160115/i_14.jpg) no-repeat center;}
.btnlink{ width:100%; height:481px; display:block; cursor:pointer; border:none; outline-style:none;}
</style>

<div class="comndiv d1"></div>
<div class="comndiv d2"></div>
<div class="comndiv d3"></div>
<div class="comndiv d4"></div>
<div class="comndiv d5"></div>
<div class="comndiv d6"></div>
<div class="comndiv d7"></div>
<div class="comndiv d8"></div>
<div class="comndiv d9"></div>
<div class="comndiv d10"></div>
<div class="comndiv d11"></div>
<div class="d12"><a href="http://yataitouzi.com/loans" target="_blank" class="btnlink"></a></div>
<div class="comndiv d13"></div>
<div class="comndiv d14"></div>