<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>辞旧迎新，赚不停</title>
<style>
*{ margin:0; padding:0;}
a:focus{outline:none;}
img{ border:none;}
.comdiv{ width:100%; height:87px; margin:0 auto;}
.d01{background:url(/campaigns/20160218/218_01.jpg) no-repeat center;}
.d02{background:url(/campaigns/20160218/218_02.jpg) no-repeat center;}
.d03{background:url(/campaigns/20160218/218_03.jpg) no-repeat center;}
.d04{background:url(/campaigns/20160218/218_04.jpg) no-repeat center;}
.d05{background:url(/campaigns/20160218/218_05.jpg) no-repeat center;}
.d06{background:url(/campaigns/20160218/218_06.jpg) no-repeat center;}
.d07{background:url(/campaigns/20160218/218_07.jpg) no-repeat center;}
.d08{background:url(/campaigns/20160218/218_08.jpg) no-repeat center;}
.d09{background:url(/campaigns/20160218/218_09.jpg) no-repeat center;}
.d10{background:url(/campaigns/20160218/218_10.jpg) no-repeat center;}
.d11{background:url(/campaigns/20160218/218_11.jpg) no-repeat center;}
.d12{background:url(/campaigns/20160218/218_12.jpg) no-repeat center;}
.d13{background:url(/campaigns/20160218/218_13.jpg) no-repeat center;}
.d14{background:url(/campaigns/20160218/218_14.jpg) no-repeat center;}
.d15{background:url(/campaigns/20160218/218_15.jpg) no-repeat center;}
.d16{background:url(/campaigns/20160218/218_16.jpg) no-repeat center;}
.d17{background:url(/campaigns/20160218/218_17.jpg) no-repeat center;}
.d18{background:url(/campaigns/20160218/218_18.jpg) no-repeat center;}
.d19{background:url(/campaigns/20160218/218_19.jpg) no-repeat center;}
.d20{background:url(/campaigns/20160218/218_20.jpg) no-repeat center;}
.d21{background:url(/campaigns/20160218/218_21.jpg) no-repeat center;}
.d22{background:url(/campaigns/20160218/218_22.jpg) no-repeat center;}
.d23{background:url(/campaigns/20160218/218_23.jpg) no-repeat center;}
.d24{background:url(/campaigns/20160218/218_24.jpg) no-repeat center;}
.d25{background:url(/campaigns/20160218/218_25.jpg) no-repeat center;}
.d26{background:url(/campaigns/20160218/218_26.jpg) no-repeat center;}
.d27{background:url(/campaigns/20160218/218_27.jpg) no-repeat center;}
.d28{background:url(/campaigns/20160218/218_28.jpg) no-repeat center;}
.d29{background:url(/campaigns/20160218/218_29.jpg) no-repeat center;}
.d30{background:url(/campaigns/20160218/218_30.jpg) no-repeat center;}
.d30 a{ display:inline-block; width:100%; height:87px; cursor:pointer;}
</style>

</head>

<body>
    <a name="top"></a>
<div class="comdiv d01"></div>
<div class="comdiv d02"></div>
<div class="comdiv d03"></div>
<div class="comdiv d04"></div>
<div class="comdiv d05"></div>
<div class="comdiv d06"></div>
<div class="comdiv d07"></div>
<div class="comdiv d08">  
</div>
<div class="comdiv d09"></div>
<div class="comdiv d10"></div>
<div class="comdiv d11"></div>
<div class="comdiv d12"></div>
<div class="comdiv d13"></div>
<div class="comdiv d14"></div>
<div class="comdiv d15"></div>
<div class="comdiv d16"></div>
<div class="comdiv d17"></div>
<div class="comdiv d18"></div>
<div class="comdiv d19"></div>
<div class="comdiv d20"></div>
<div class="comdiv d21"></div>
<div class="comdiv d22"></div>
<div class="comdiv d23"></div>
<div class="comdiv d24"></div>
<div class="comdiv d25"></div>
<div class="comdiv d26"></div>
<div class="comdiv d27"></div>
<div class="comdiv d28"></div>
<div class="comdiv d29"></div>
<div class="comdiv d30"><a href="#top"></a></div>

</body>
</html>
