<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>担保公司+风险储备金</title>
<style>
*{ margin:0; padding:0;}
a:focus{outline:none;}
img{ border:none;}

.comdiv{ width:100%; height:134px; margin:0 auto;}
.d01{background:url(/campaigns/20160720/db_01.jpg) no-repeat center;}
.d02{background:url(/campaigns/20160720/db_02.jpg) no-repeat center;}
.d03{background:url(/campaigns/20160720/db_03.jpg) no-repeat center;}
.d04{background:url(/campaigns/20160720/db_04.jpg) no-repeat center;}
.d05{background:url(/campaigns/20160720/db_05.jpg) no-repeat center;}
.d06{background:url(/campaigns/20160720/db_06.jpg) no-repeat center;}
.d07{background:url(/campaigns/20160720/db_07.jpg) no-repeat center;}
.d08{background:url(/campaigns/20160720/db_08.jpg) no-repeat center;}
.main1440{ width:1200px; min-height:500px; background:#fff; margin:0 auto;}
.word{ padding:20px 90px; font-size:24px; color:#474747; line-height:44px; text-indent:3rem;}
.word p{ padding-bottom:30px;}
.word p i{ font-style:normal; color:#c13020; font-size:28px; font-weight:bold;}
.word p span{ font-size:20px;}
.zlxy{ width:1163px; height:743px; margin:0 auto 20px;}
.yh{ width:584px; height:739px; margin:0 auto; padding-bottom:30px;}
.db11{ width:100%; height:222px;background:url(/campaigns/20160720/db_11.jpg) no-repeat center;}
.word-1{ padding:20px 90px; font-size:24px; color:#474747; line-height:44px; text-indent:3rem;}
.word-1 b{ font-size:28px;}
.word-1 span{ font-size:20px;}
.zhizhao{ width:642px; height:908px; margin:0 auto 20px;padding-bottom:50px;}
.xukez{ width:886px; height:624px; margin:0 auto;padding-bottom:30px;}
.main1440-1{ width:1200px; min-height:500px; background:#fff; margin:0 auto 50px;}

</style>

</head>

<body>
<div style="background:#c13020;">
<div class="comdiv d01"></div>
<div class="comdiv d02"></div>
<div class="comdiv d03"></div>
<div class="comdiv d04"></div>
<div class="comdiv d05"></div>
<div class="comdiv d06"></div>
<div class="comdiv d07"></div>
<div class="comdiv d08"></div>
<div class="main1440">
    <div class="word">
      <p>2016年7月1日，亚太阳光投资（北京）有限公司，简（亚太投资）携手北京海大富林融资担保有限公司特设立战略
    合作协议，由海大富林融资担保有限公司执行<i>担保服务</i>。具体内容请参考附件。<span>（附：协议扫描件部分内容）</span></p>
    
         <p>在此之际亚太投资公司特设<i>风险储备金 1400万</i> 用于对借款标的发生逾期时履行先行赔付，并承诺自2016年8
    月16日起，每月递增风险储备金<i> 100万</i> 元整，届时会公布信息在网站公告上。</p>
    </div>
    <div class="zlxy"><img src="/campaigns/20160720/db_09.jpg"></div>
    <div class="yh"><img src="/campaigns/20160720/db_10.jpg"></div>
</div>
<div class="db11"></div>
<div class="main1440-1">
  <div class="word-1">
      <p><b>北京海大富林融资担保有限公司</b> 成立于2009年9月1日，并取得北京市工商行政管理局颁发的法人营业执照。
注册号110000012224665，注册地址为北京市朝阳区光华路8号B座5层502室，公司类型为有限责任公司（自然人投资
或控股），注册资本40000万元，许可经营项目：融资性担保业务、贷款担保、票据承兑担保、贸易融资担保、项目融
资担保、信用证担保及其他融资性担保业务。监管部门批准的其他业务：债券担保、诉讼保全担保、投标担保、预付款
担保、工程履约担保、尾付款如约偿付担保等履约担保；与担保业务有关的融资咨询、财务顾问等中介服务，以自有资
金投资。营业执照有效期2009年9月1日至2029年8月31日。公司在注册时使用北京海大富林投资担保有限公司，2012
年8月20 日更为现名称。法定代表人种海林。</p>
       <p>目前主要是与中国农业发展银行、国家开发银行以及互联网金融平台（P2P）进行合作，主要业务区域在新疆、北
京等地开展，在农发行累计担保额43575万元，担保企业大部分是棉花收购企业，有力的帮助了当地棉花企业收购计划
顺利完成。</p>
       <p>公司能以“诚信、规范”为原则，依靠自身的熟悉农业专家以及从事金融行业的专业结合，积极为中小企业，主要
为农业及加工业类企业融资贷款担保。</p>
       <p><span>（附：企业融资性担保机构经营许可证，营业执照）</span></p>
    </div>
   
    
     <div class="xukez"><img src="/campaigns/20160720/db_14.jpg"></div>
     <div class="zhizhao"><img src="/campaigns/20160720/db_13.jpg"></div>
</div>
</div>
</body>
</html>
