<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>新手体验标</title>
  <style>
*{ margin:0; padding:0;}
a:focus{outline:none;}
img{ border:none;}
.comdiv{ width:100%; height:100px; margin:0 auto;}
.d01{background:url(/campaigns/20160630/xsb_01.jpg) no-repeat center;}
.d02{background:url(/campaigns/20160630/xsb_02.jpg) no-repeat center;}
.d03{background:url(/campaigns/20160630/xsb_03.jpg) no-repeat center;}
.d04{background:url(/campaigns/20160630/xsb_04.jpg) no-repeat center;}
.d05{background:url(/campaigns/20160630/xsb_05.jpg) no-repeat center;}
.d06{background:url(/campaigns/20160630/xsb_06.jpg) no-repeat center;}
.d07{background:url(/campaigns/20160630/xsb_07.jpg) no-repeat center;}
.d08{background:url(/campaigns/20160630/xsb_08.jpg) no-repeat center;}
 .zcdiv{ width: 280px; height: 66px; margin:0 auto;}
</style>
</head>
<body>
<div class="comdiv d01"></div>
<div class="comdiv d02"></div>
<div class="comdiv d03"></div>
<div class="comdiv d04"></div>
<div class="comdiv d05"></div>
<div class="comdiv d06"></div>
<div class="comdiv d07"></div>
<div class="comdiv d08">
  <div class="zcdiv"><a href='/users/sign_up'><img src="/campaigns/20160630/btn-r.png"></a></div>
</div>

</body>
</html>       
