<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>早春四月，亚太投资回馈新老客户</title>
<style>
*{ margin:0; padding:0;}
a:focus{outline:none;}
img{ border:none;}
.comdiv{ width:100%; height:123px; margin:0 auto;}
.d01{background:url(/campaigns/20160401/four_01.png) no-repeat center;}
.d02{background:url(/campaigns/20160401/four_02.png) no-repeat center;}
.d03{background:url(/campaigns/20160401/four_03.png) no-repeat center;}
.d04{background:url(/campaigns/20160401/four_04.png) no-repeat center;}
.d05{background:url(/campaigns/20160401/four_05.png) no-repeat center;}
.d06{background:url(/campaigns/20160401/four_06.png) no-repeat center;}
.d07{background:url(/campaigns/20160401/four_07.png) no-repeat center;}
.d08{background:url(/campaigns/20160401/four_08.png) no-repeat center;}
.d09{background:url(/campaigns/20160401/four_09.png) no-repeat center;}
.d10{background:url(/campaigns/20160401/four_10.png) no-repeat center;}
.d11{background:url(/campaigns/20160401/four_11.png) no-repeat center;}
.d12{background:url(/campaigns/20160401/four_12.png) no-repeat center;}
.d13{background:url(/campaigns/20160401/four_13.png) no-repeat center;}
.d14{background:url(/campaigns/20160401/four_14.png) no-repeat center;}
.d15{background:url(/campaigns/20160401/four_15.png) no-repeat center;}
.d16{background:url(/campaigns/20160401/four_16.png) no-repeat center;}
.d17{background:url(/campaigns/20160401/four_17.png) no-repeat center;}
.d18{background:url(/campaigns/20160401/four_18.png) no-repeat center;}
.d19{background:url(/campaigns/20160401/four_19.png) no-repeat center;}
.d20{background:url(/campaigns/20160401/four_20.png) no-repeat center;}
.d21{background:url(/campaigns/20160401/four_21.png) no-repeat center;}
.d22{  width:100%; height:166px;background:url(/campaigns/20160401/four_22.png) no-repeat center;}
.d23{ width:100%; height:508px; background:url(/campaigns/20160401/four_23.png) no-repeat center;}
.dmiddle{width:1000px; height:508px; margin:0 auto;}
.d25table{ width:946px; height:508px; margin:0 auto;margin-left:35px; background:#7bf7b8;}
.d25table ul li{ list-style:none; float:left; width:100%; height:30px; line-height:30px; margin-bottom:20px;text-align:center;font-family:微软雅黑; color:#555957;}
.t-num-display{ width:82px; height:42px; float:left; text-indent: -9999px;}
.t-num-block{ width:82px; height:42px; float:left;}
.t-phone{ width:334px; height:42px; float:left;}

.d24{width:100%; height:189px;background:url(/campaigns/20160401/four_24.jpg) no-repeat center;}
.d25{background:url(/campaigns/20160401/four_25.png) no-repeat center;}
.d26{background:url(/campaigns/20160401/four_26.png) no-repeat center;}
</style>

</head>

<body>
<%
    bids = Bid.joins(:loan).where(["bids.created_at > ? and bids.created_at < ? and loans.pass = ''", DateTime.new(2016, 4, 1), DateTime.new(2016, 5, 1)])
    bids = bids.group_by{|bid| bid.user_id}.sort_by do |h|
      user_id, bs = h
      bs.sum(&:invest_amount)
    end
    @bids = bids.reverse[0..9]
%>
<div class="comdiv d01"></div>
<div class="comdiv d02"></div>
<div class="comdiv d03"></div>
<a href="http://yataitouzi.com/loans"><div class="comdiv d04"></div></a>
<div class="comdiv d05"></div>
<div class="comdiv d06"></div>
<div class="comdiv d07"></div>
<div class="comdiv d08"></div>
<div class="comdiv d09"></div>
<div class="comdiv d10"></div>
<div class="comdiv d11"></div>
<div class="comdiv d12"></div>
<div class="comdiv d13"></div>
<div class="comdiv d14"></div>
<div class="comdiv d15"></div>
<div class="comdiv d16"></div>
<div class="comdiv d17"></div>
<div class="comdiv d18"></div>
<div class="comdiv d19"></div>
<div class="comdiv d20"></div>
<div class="comdiv d21"></div>
<div class="d22"></div>
<div class="d23">
<div class="dmiddle">
  <div class="d25table">
        <ul>
            <% @bids.each_with_index do |bid, index|%>
            <% user = User.find bid[0]%>
             <li>
                <div class="t-num-block" ><%= (index+1).to_s %></div>
                <div class="t-phone" ><%= user.mobile[0..2] + '****' + user.mobile[-4..-1] %></div>
                <div class="t-price"><%= rmb bid[1].sum(&:invest_amount)%></div>
             </li>
            <% end %>
        </ul>
    </div>
</div>
</div>
<div class="d24"></div>
<div class="comdiv d25"></div>
<div class="comdiv d26"></div>

</body>
</html>
