#div1.anniversary
#div2.anniversary
#div3.anniversary
#div4.anniversary
#div5.anniversary
#div6.anniversary
#div7.anniversary
#div8.anniversary
#div9.anniversary
#div10.anniversary
#div11.anniversary
#div12.anniversary
#div13.anniversary
#div14.anniversary
#div15.anniversary
#div16
  %a{:href => "http://wangdaiban.com/"} 网贷平台
:css
  *{ margin:0; padding:0;}
  .anniversary{ width:100%; height:121px;  margin:0 auto; overflow:hidden;}
  #div1{ background:url(/campaigns/anniversary/8_01.jpg) no-repeat center;}
  #div2{ background:url(/campaigns/anniversary/8_02.jpg) no-repeat center;}
  #div3{ background:url(/campaigns/anniversary/8_03.jpg) no-repeat center;}
  #div4{ background:url(/campaigns/anniversary/8_04.jpg) no-repeat center;}
  #div5{ background:url(/campaigns/anniversary/8_05.jpg) no-repeat center;}
  #div6{ background:url(/campaigns/anniversary/8_06.jpg) no-repeat center;}
  #div7{ background:url(/campaigns/anniversary/8_07.jpg) no-repeat center;}
  #div8{ background:url(/campaigns/anniversary/8_08.jpg) no-repeat center;}
  #div9{ background:url(/campaigns/anniversary/8_09.jpg) no-repeat center;}
  #div10{ background:url(/campaigns/anniversary/8_10.jpg) no-repeat center;}
  #div11{ background:url(/campaigns/anniversary/8_11.jpg) no-repeat center;}
  #div12{ background:url(/campaigns/anniversary/8_12.jpg) no-repeat center;}
  #div13{ background:url(/campaigns/anniversary/8_13.jpg) no-repeat center;}
  #div14{ background:url(/campaigns/anniversary/8_14.jpg) no-repeat center;}
  #div15{ background:url(/campaigns/anniversary/8_15.jpg) no-repeat center;}
  #div16{height:0px;width:100px;overflow: hidden;}