<style>
*{ margin:0; padding:0;}
img{ border:none;}
.comdiv{ width:100%; height:243px; margin:0 auto;}
.d01{background:url(/campaigns/20151212/tw_01.png) no-repeat center;}
.d02{background:url(/campaigns/20151212/tw_02.png) no-repeat center;}
.d03{background:url(/campaigns/20151212/tw_03.png) no-repeat center;}
.d04{background:url(/campaigns/20151212/tw_04.png) no-repeat center;}
.d05{background:url(/campaigns/20151212/tw_05.png) no-repeat center;}
.d06{background:url(/campaigns/20151212/tw_06.png) no-repeat center;}
.d07{background:url(/campaigns/20151212/tw_07.png) no-repeat center;}
.d08{background:url(/campaigns/20151212/tw_08.png) no-repeat center;}
.d09{background:url(/campaigns/20151212/tw_09.png) no-repeat center;}
.d10{background:url(/campaigns/20151212/tw_10.png) no-repeat center;}
</style>

<div class="comdiv d01"></div>
<div class="comdiv d02"></div>
<div class="comdiv d03"></div>
<div class="comdiv d04"></div>
<div class="comdiv d05"></div>
<div class="comdiv d06"></div>
<div class="comdiv d07"></div>
<div class="comdiv d08"></div>
<div class="comdiv d09"></div>
<div class="comdiv d10"></div>