<style>
*{ margin:0; padding:0;}
.main{ width:100%; height:128px; margin:0 auto;}
.go1{ background:url(/campaigns/guanggun/11_01.jpg) no-repeat center;}
.go2{ background:url(/campaigns/guanggun/11_02.png) no-repeat center;}
.go3{ background:url(/campaigns/guanggun/11_03.png) no-repeat center;}
.go4{ background:url(/campaigns/guanggun/11_04.png) no-repeat center;}
.go5{ background:url(/campaigns/guanggun/11_05.png) no-repeat center;}
.go6{ background:url(/campaigns/guanggun/11_06.png) no-repeat center;}
.go7{ background:url(/campaigns/guanggun/11_07.png) no-repeat center;}
.go8{ background:url(/campaigns/guanggun/11_08.png) no-repeat center;}
.go11{width:100%; height:257px; margin:0 auto; background:url(/campaigns/guanggun/11_11.png) no-repeat center; position:relative;}
.go10{ width:172px; height:52px; position:absolute; background:url(/campaigns/guanggun/btn.png) no-repeat center; top:97px; left:46%;}
</style>
<div class="main go1"></div>
<div class="main go2"></div>
<div class="main go3"></div>
<div class="main go4"></div>
<div class="main go5"></div>
<div class="main go6"></div>
<div class="main go7"></div>
<div class="main go8"></div>
<div class="go11"><a href="http://giftcard.jd.com/market/index.action" target="_blank"><div class="go10"></div></a></div>
<style type="text/css">.test{height:0px;width:100px;overflow: hidden;}</style>
<div class="test"><a href="http://wangdaiban.com/">网贷平台</a></div>